/* =============
    Base
============= */


body{
    background-color: lightblue;
}



ul{
    list-style: none;
    padding-left: 0;
}

.buy{
    text-decoration: none;
    background-color: $blood;
}



