/* =============
Lineup
============= */

.lineup{
    background-image: url("../img/main3.jpg");
    // height: 100vh;
    width: 100vw;
    background-size:cover;
    background-repeat: no-repeat;
    position: relative;

  

.lineup-grid{

    display:grid;
    grid-template-columns: 1fr;
    // height:100vh;
    // grid-template-columns: 1fr;
    .info3-column{
        text-align: center;
    }
  
   
 

@include lg{
display: grid;
height:100vh;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 35% 35% 35%;
grid-template-areas: 
' . img-1 img-2 img-3'
'info3-column img-4 img-5 img-6'
' . img-7 img-8 img-9'
;

.info3-column{
    grid-area:info3-column;
}

    li{

    &.img-1{
        grid-area:img-1;

    }
    &.img-2{
        grid-area:img-2;
        
    }
    &.img-3{
        grid-area:img-3;
        
    }
    &.img-4{
        grid-area:img-4;
        
    }
    &.img-5{
        grid-area:img-5;
        
    }
    &.img-6{
        grid-area:img-6;
        
    }
    &.img-7{
        grid-area:img-7;
        
    }
    &.img-8{
        grid-area:img-8;
        
    }
    &.img-9{
        grid-area:img-9;
    
    }
}
}
}
}

.img-4, .img-5, .img-6, .img-7, .img-8, .img-9{
    display:none;
    @include lg{
        display:block;
    }
}