/* =============
   passess
============= */

.passes-column{
   height:100vh;

   background-image: url('../img/passes.jpg');
   background-size: cover;
   background-repeat: no-repeat;

   @include lg{
   
   display: grid;
    height:100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas: 
    ". . ."
    "ga vip club"
    ". . ."
    ;
    a{
     margin-top:80px;
   }
   }
}

.passes{

 

.ga{

   height: 80vh;
   background-color:$ga ;
   color: white;
   padding: 55px;
   margin: 40px 22px 50px 22px;
}
.vip{

   height: 80vh;
   background-color: $vip;
   color:white;
   padding: 55px;
   margin: 40px 22px 50px 0;
}
.club{

   height: 80vh;
   background-color: $club;
   color: white;
   padding: 55px;
   margin: 40px 22px 50px 0;
}
a{
   color: $blood;
   background-color: $white;
   padding: 10px 40px 10px 40px;
   text-decoration: none;
   text-align: center;
   font-weight: 500;
   border: 5px solid $blood;
   border-radius: 31px;
  
}

.ga, .vip, .club{
   display: flex;
   flex-direction: column;
   align-content: space-between;

   .buy-button{
      margin-top:auto;
      text-align: center;
   }
}
   

}