/* =============
   Subscribe 
============= */

.subscribe{
  padding-top: 40px;

  height:100vh;
  background-image: url('../img/fish.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  color: $white;

  

  }



.subscribe-grid{
  .logo-column{
    grid-area:logo-column;
    text-align: center;
    
}

.about-column{
    grid-area:about-column;
    text-align: center;
}


  .logo-column{
    button{
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        outline: inherit;
    }
  }

  .subscribe-column{
  margin-top: 100px;
   padding-bottom: 34px;

  input{
    width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  margin-right: 30px;
  border-radius: 31px;
  background-color: white;
  font-weight: 500;
  text-decoration: none;
  border-color: white;
  border-width: 2px;
  }
  
  button{
    color: $blood;
    background-color: $white;
    padding: 10px 40px 10px 40px;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    border: 5px solid $blood;
    border-radius: 31px;
   
 }
  }
  
 

   @include lg{
  display: grid;
  height:100vh;
  grid-template-columns:  15% 70% 15%;
  grid-template-rows: 10% 70% 10% 10%;
  grid-template-areas:
  "logo-column . about-column"
  ". subscribe-column ."
  ". . ."
  "date-column . contact-column";
   }

 h4{
  font-size: 48px;
  font-weight: 200;
  margin-bottom: 45px;
 }
 p{
  font-size: 22px;
  margin-bottom: 45px;
 }

  .logo-column{
    grid-area:logo-column;
}

.about-column{
    grid-area:about-column;

    a{
      text-decoration: none;
      font-size: 20px;
      font-weight: 500;
      color:white;
      margin-top: 30px;
    }
 
}

.subscribe-column{

    grid-area:subscribe-column;

}

.date-column{
    grid-area:date-column;

    h4{
      font-size: 20px;
    font-weight: 500;
    color:white;
    text-align: center;
    }
}

.contact-column{
    grid-area:contact-column;
    a{
      text-align: center;
      font-size: 20px;
      font-weight: 500;
      color:white;
    
      
    }
}

}

  //   display: grid;
  //   height:100vh;
  //   grid-template-columns:  10% 80% 10%;
  //  grid-template-rows: 20% 60% 20%;
  //   grid-template-areas: 
  //   'logo2-column . about'
  //   '. subcribe-column .'
  //   'date arrow-column contact'
