/* =============
    thank out
============= */

.thank{
    height:100vh;
    background-image: url("../img/thankout.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    
}

// .subscribe{

//     height:100vh;
//     background-image: url('../img/fish.jpg');
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: right;
//     }
  
  
  
  .thank-grid{

    .logo-column{
        text-align: center;
    }
    .about-column{
        text-align: center;
    }
    .date-column{
        text-align: center;
    }

  .contact-column{
    text-align: center; 
    }





     @include lg{
 
  
    display: grid;
    height:100vh;
    grid-template-columns:  15% 70% 15%;
    grid-template-rows: 10% 70% 10% 10%;
    grid-template-areas:
    "logo-column . about-column"
    ". thank-column ."
    ". . ."
    "date-column . contact-column";
     }
  
.logo-column{
      grid-area:logo-column;
  }
  
  .about-column{
      grid-area:about-column;
  }
  
  .thank-column{
      grid-area:thank-column;
      margin-top: 200px;
     
    
      a{
        
        color: $blood;
        background-color: $white;
        padding: 10px 40px 10px 40px;
        text-decoration: none;
        text-align: center;
        font-weight: 500;
        border: 5px solid $blood;
        border-radius: 31px;
       
     }
   
    h3{
        font-size: 38.5px;
        text-decoration: none;
    }
    p{
        font-size: 30px;
    }
  }
  
  .date-column{
      grid-area:date-column;
  }
  
  .contact-column{
      grid-area:contact-column;
  }
  }